@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root {
    --clr-dark-1: #272B33;
    --clr-dark-2: #272B33;
    --clr-white: #ffffff;
    --clr-light-grey: #f5f5f5;
    --clr-grey: #9E9E9E;
    --clr-green: #55CC44;
    --clr-red: #D63D2E;
    --clr-orange: #FF9800;
    --clr-black: #222222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-dark-1);
}

.header {
    background-color: var(--clr-dark-2);
    color: var(--clr-white);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-family: var(--ff-primary);
}

.sub-header {
    display: inherit;
    align-items: center;
    gap: 1rem;
}

button {
    background-color: transparent;
    color: var(--clr-white);
    border: solid var(--clr-orange) 1px;
    padding: 0.5rem;
    border-radius: 5px;
    font-family: var(--ff-primary);
    transition: background-color 0.5s ease;
}

button:hover {
    cursor: pointer;
    background-color: var(--clr-black);
}

.slide {
    width: 100%;
}

.title {
    font-family: var(--ff-primary);
    color: var(--clr-white);
    text-align: center;
    font-weight: bolder;
    padding: 1rem;
    font-size: 80px;
}

#characters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 2rem;
}

.card {
    background-color: var(--clr-grey);
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    font-family: var(--ff-primary);
    display: flex;
    gap: 1rem;
}

.img-char {
    border-radius: 5px;
}

.info {
    color: var(--clr-white);
}

.char-name {
    font-size: 30px;
    font-weight: bold;
}

.label-char {
    font-size: 18px;
    font-weight: bold;
    color: var(--clr-light-grey);
}

.load-button-div {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.footer {
    background-color: var(--clr-dark-2);
    font-family: var(--ff-primary);
    text-align: center;
    padding: 2rem;
    color: var(--clr-white);
}

@media (max-width: 996px) {
    #characters {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .card {
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    
    .title {
        font-size: 30px;
    }
}